
.d-btn a{
    width: 150px;
    font-size: 12px;
    padding: 10px 0px;
    background-color: #064cf0;
    color: #fff;
    display: inline-block;
    line-height: 20px;
    border-radius: 30px;
    text-align: center;
    margin-top: 5px;
    }
    .d-btn a:hover{
    background-color: #000000;
    }


.all_art{
    background: #000000;
    width: 100%;
    margin-bottom: 5%;
    justify-content: center;
    /* height: 100px; */
    /* margin: 2% 20% 10%; */
    overflow: hidden;
}
 
.mor_art {
    
    width: 1800px;
    overflow: hidden;
    display: flex;
    /* grid-template-columns: 225px 225px 225px 225px 225px 225px 225px; */
    margin-bottom: 20px;
    margin-left: 40px;

}
.m_art1{
    background: #000000;    margin: 20px;
    /* -webkit-box-shadow: 15px 10px 16px -2px rgba(99, 99, 99, 0.61); 
    box-shadow: 15px 10px 16px -2px rgba(70, 70, 70, 0.61); */
    animation: morebook 25s linear infinite alternate-reverse;
}

 



.mor_art .m_art1 img{
    
    width:15rem;
    height: 15rem;
}
@keyframes morebook {
    from{
        transition: 8000ms;
        transform: translateX(0);
    }
    to{
        transform: scale(1.18);
        transform: translateX(-1200px);
        
    }
}