@import url('https://fonts.googleapis.com/css?family=Rajdhani:300,400,500,600,700');
@import url('https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i');


@import url(font-awesome.min.css);






body{
    margin: 0;
    padding: 0;
    font-family: 'poppins', sans-serif;
    
}
.nav_bar_div .nav_1{
    padding-left: 10%;
    position: fixed;
    width: 100%;
    height: 90px;
    background-color: rgb(0, 0, 0);
    overflow: hidden;
    z-index: 100000;
}

.nav_1 ul {
    margin-top: 1.5%;
    display: flex;
    list-style: none;
    position: relative;
    position: fixed;
   
    

}
.nav_1 ul li .active a{
    color: #017FE8;

}

.nav_1 ul li a{
    color: rgb(255, 255, 255);
    margin: 40px;
    text-decoration: none;
    font-size: 18px;
    transition: 800ms;
}

.nav_1 ul .ress{
    padding-bottom: 3px;
    border-bottom: solid 2px #017FE8;
    border-radius: 20px;
    transition: 800ms;
}
.nav_1 ul  .ress:hover {
    transition: 800ms;
    border-bottom: solid 2px #ffffff;
    padding-bottom: 3px;
}
.nav_1 ul .title:hover{
    border-bottom: solid 2px #ffffff;
    border-radius: 20px;
    padding-bottom: 3px;
    transition: 800ms;
}
.nav_1  img{
    margin-top: 20px;
    position: absolute;
    width: 35px;
    height: 45px;
    
}
.title_hero{
    width: 41%;
    position: absolute;
    color: rgb(255, 255, 255);
    right: 50%;
    top: 30%;
}
.title_hero img{
    margin-top: 62px;
    margin-right: 20px;
    width: 55px;
    height: 64px;

}
.title_hero h1{
    font-size: 60px;
    margin-top: 51px;
    
}
.title_hero p{
    font-size: 24px;
}
.btn_rm{
    background: transparent;
    color: #fff;
    padding: 15px 60px 15px 60px;
    float: left;
    font-size: 15px;
    font-weight: 400;
    border: solid #fff 2px;
    border-radius: 30px;
    margin: 63px 10px 60px 0px;
    text-decoration: none;
    transition: 800ms;
    }
    .btn_rm:hover{
        transition: 500ms;
        background: rgb(238, 238, 238);
        border: solid #017FE8 2px;
        color: rgb(0, 0, 0);
    }
    .reser{
        background: #0023AC;
    }

.cards_contact{
        width: 60%;
        height: 400px;
        background-color: #fff;
        top: 125%;
        left: 20%;
        overflow: hidden;
        -webkit-box-shadow: 20px 20px 20px 20px rgba(173, 173, 173, 0.61); 
        box-shadow: 25px 20px 20px 40px rgba(216, 216, 216, 0.61);
}
.atrubit  input {
    text-align: center;
    height: 28px;
    width: 200px;
    border-style: hidden;
    border-bottom: solid 1px #707070;
    border-left: solid 1px #707070;
    -webkit-box-shadow: 15px 10px 16px -2px rgba(173, 173, 173, 0.61); 
    box-shadow: 15px 10px 16px -2px rgba(216, 216, 216, 0.61);

}
.atrubit label{
    font-size: 18px;
}
.atrubit input[type=text]:focus , .atrubit input[type=email]:focus {
    border:solid 1px #39A5FF;
    background: rgb(255, 255, 255);
    transition: 800ms;
    width: 220px;
}



    
.foteer{
    /* transform: translateX(-20.925rem) skew(35deg);
    transform-origin: center center; */
    display: flex;
    background: black;
    background-size: cover;
    width: 100%;
}
.fott{
    width: 100%;
    height: 250px;
    background: black;
    
}
.fott img{
    margin-left: 70px;
    margin-top: 20px;
    width: 35px;
    height: 45px;

}
.fott ul{
    display: flex;
    list-style: none;
    position: relative;
   
}
.fott ul li{
   margin-bottom: 20px;
   
}
.fott  ul li a{
    color: rgb(255, 255, 255);
    margin: 40px;
    text-decoration: none;
    transition: 800ms;
    font-size: 20px;
}

.fott  p{
    font-size: 16px;
    color: #fff;
    margin-left: 80px;
    margin-top: 58px;
}
.foteer .icons{
    background: black;
    margin-top: 20px;
    margin-right: 50px;
}