body{
    margin: 0;
    padding: 0;
}


.nav_1{
    margin-left: 10%;
}

.nav_1 ul {
    margin-top: 1.5%;
    display: flex;
    list-style: none;
    position: absolute;
    

}
.nav_1 ul li .active a{
    color: #017FE8;

}
.nav_1 ul li a{
    color: rgb(255, 255, 255);
    margin: 40px;
    text-decoration: none;
}
.nav_1 ul li span{
    border: solid 1.5px #017FE8;
    border-radius: 20px;
    padding: 10px 1px 10px 1px;
}
.nav_1  img{
    margin-top: 20px;
    position: absolute;
    width: 35px;
    height: 45px;
    
}
.title_hero{
    width: 36%;
    position: absolute;
    color: rgb(255, 255, 255);
    right: 56%;
    top: 10%;
}
.title_hero img{
    margin-top: 62px;
    margin-right: 20px;
    width: 55px;
    height: 64px;

}
.title_hero h1{
    font-size: 60px;
    margin-top: 51px;
    
}
.title_hero p{
    font-size: 24px;
}
.btn_rm{
    background: transparent;
    color: #fff;
    padding: 15px 60px 15px 60px;
    float: left;
    font-size: 15px;
    font-weight: 400;
    border: solid #fff 2px;
    border-radius: 30px;
    margin: 63px 10px 60px 0px;
    text-decoration: none;
    transition: 800ms;
    }
    .btn_rm:hover{
        transition: 500ms;
        background: rgb(238, 238, 238);
        border: solid #017FE8 2px;
        color: rgb(0, 0, 0);
    }
    .reser{
        background: #0023AC;
    }
    


