body {
    margin: 0;
    padding: 0;
}


.nav_bar_div .nav_1{
    padding-left: 10%;
    position: fixed;
    width: 100%;
    height: 90px;
    background-color: rgb(0, 0, 0);
    overflow: hidden;
    z-index: 100000;
}

.nav_1 ul {
    margin-top: 1.5%;
    display: flex;
    list-style: none;
    position: relative;
    position: fixed;
   
    

}
.nav_1 ul li .active a{
    color: #017FE8;

}
.nav_1 ul li a{
    color: rgb(255, 255, 255);
    margin: 40px;
    text-decoration: none;
    transition: 800ms;
}

.nav_1 ul .ress{
    padding-bottom: 3px;
    border-bottom: solid 2px #017FE8;
    border-radius: 20px;
    transition: 800ms;
}
.nav_1 ul  .ress:hover {
    transition: 800ms;
    border-bottom: solid 2px #ffffff;
    padding-bottom: 3px;
}
.nav_1 ul .title:hover{
    border-bottom: solid 2px #ffffff;
    border-radius: 20px;
    padding-bottom: 3px;
    transition: 800ms;
}
.nav_1  img{
    margin-top: 20px;
    position: absolute;
    width: 35px;
    height: 45px;
    
}
.title_hero{
    width: 36%;
    position: absolute;
    color: rgb(255, 255, 255);
    right: 50%;
    top: 30%;
}
.title_hero img{
    margin-top: 62px;
    margin-right: 20px;
    width: 55px;
    height: 64px;

}
.title_hero h1{
    font-size: 60px;
    margin-top: 51px;
    
}
.title_hero p{
    font-size: 24px;
}
.btn_rm{
    background: transparent;
    color: #fff;
    padding: 15px 60px 15px 60px;
    float: left;
    font-size: 15px;
    font-weight: 400;
    border: solid #fff 2px;
    border-radius: 30px;
    margin: 63px 10px 60px 0px;
    text-decoration: none;
    transition: 800ms;
    }
    .btn_rm:hover{
        transition: 500ms;
        background: rgb(238, 238, 238);
        border: solid #017FE8 2px;
        color: rgb(0, 0, 0);
    }
    .reser{
        background: #0023AC;
    }
    
    .images{
        position: relative;
        padding-left: 40px;
        margin-bottom: 100px;
        max-width: 100%;
        z-index: 1;
    }
    .images svg{
        height: 298px;
        width: 600px;
    }
    .artc_img {
        width: 50%;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        margin: 2% 14% 0%;
        
    }
    .artc_img .artic{
        width: 70%;
    }
    .artc_img .artic p{
        font-size: 16px;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        text-justify: distribute;
        margin-bottom: 30px;
        
    }
    .artc_img .artic h2{
        margin-bottom: 30px;
        font-size: 28px;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }
    .artc_img .svg_img{
        width: 20%;
    }
    .artc_img .eng svg{
        width: 45rem;
        height: 19vw;
    }
    .svg_car {
        padding-top: 0%;
        margin-top: 0;
        display: flex;
        flex-wrap: wrap;
        justify-content: left;
        width: 90%;
        height: 450px;
    }
    .svg_car svg{
        margin-top: 0;
        padding-top: 0%;
        height: 17vw;
        width: 36vw;
        margin-left: 40px;
    }


.foteer{
    /* transform: translateX(-20.925rem) skew(35deg);
    transform-origin: center center; */
}
.fott{
    width: 100%;
    height: 250px;
    background: url(/img/Groupe\ 35.png);
    background-size: cover;
}
.fott img{
    margin-left: 70px;
    margin-top: 20px;
    width: 35px;
    height: 45px;

}
.fott ul{
    display: flex;
    list-style: none;
    position: relative;
   
}
.fott ul li{
   margin-bottom: 20px;
   
}
.fott  ul li a{
    color: rgb(255, 255, 255);
    margin: 40px;
    text-decoration: none;
    transition: 800ms;
}

.fott  p{
    font-size: 16px;
    color: #fff;
    margin-left: 80px;
    margin-top: 58px;
}