
.contaner_card{
    width: 90%;
    display: grid;
    
    grid-template-columns: auto auto auto auto;
    grid-template-rows: auto;
    grid-auto-flow: row;
    grid-column-gap: 3px;
    background-color: #ffffff;
    padding: 20px;
    margin: 8% auto 0;
    border: solid 1px #e9e9e9;
    -webkit-box-shadow: 15px 10px 16px -2px rgba(173, 173, 173, 0.61); 
    box-shadow: 15px 10px 16px -2px rgba(216, 216, 216, 0.61);

}
.atrubit{
    width: 250px;
    margin: 20px;
    font-size: 16px;
    text-align: center;
}
@media screen and (max-width:1200px){

    .contaner_card{
        width: 90%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        grid-column-gap: 3px;
        background-color: #ffffff;
        padding: 20px;
        margin: 8% auto 0;
        border: solid 1px #707070;
        -webkit-box-shadow: 15px 10px 16px -2px rgba(173, 173, 173, 0.61); 
        box-shadow: 15px 10px 16px -2px rgba(216, 216, 216, 0.61);
    }
    .atrubit{
        width: 350px;
        margin: 20px;
        font-size: 16px;
        text-align: center;
    }
    

}

.atrubit  input , .atrubit  select{
    height: 28px;
    width: 200px;
    border-radius: 10px;
    border: solid 1px #707070;
    -webkit-box-shadow: 15px 10px 16px -2px rgba(173, 173, 173, 0.61); 
    box-shadow: 15px 10px 16px -2px rgba(216, 216, 216, 0.61);
}

.atrubit input[type=text]:focus , .atrubit input[type=email]:focus {
    border:solid 1px #39A5FF;
    background: rgb(255, 255, 255);
    transition: 800ms;
    width: 220px;
}
.atrubit   #valider{
    color: #000000;
    border:solid 1.3px rgb(4, 96, 235);
    background: rgb(255, 255, 255);
    height: 33px;
    width: 160px;
    transition: 800ms;
}
.last {
    
}
.atrubit   #valider:hover{
    color: #ffffff;
    border:solid 1.3px rgb(0, 0, 0);
    background: #39A5FF;
    transition: 800ms;
    width: 180px;
}
